@model TeamBins.Common.ViewModels.DashBoardVm
@{
    ViewBag.Title = "Dashboard";



}




<div ng-app="teamBins" ng-controller="dashboardCtrl as vm" ng-cloak>
    <div class="dbItemContainer">
        <div class="dashboardItem">
            <h4>At a glance {{summary1}}</h4>
            <div class="dashboard-ataglance" ng-repeat="item in vm.summaryItems">
                <span>{{item.itemName}}</span> <span>{{item.count}} </span>
            </div>

        </div>
        <div class="dashboardItem">
            <h4>Issues by status </h4>
            <div id="pieChart">
                <canvas id="myChart" width="200" height="200"></canvas>
                <div class="db-pieChartLegends">
                    <ul class="legends">
                        <li ng-repeat="legend in vm.summaryItems">
                            <div class="db-chart-legend spn-new" style="background-color: {{legend.color}}"></div><span class="legendtext">{{legend.itemName}}</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="dashboardItem">
            <h4>Issues by priority </h4>
            <div id="issuesPriority">
                <canvas id="issuesPriorityPieChart" width="200" height="200"></canvas>
                <div class="db-pieChartLegends">
                    <ul class="legends">
                        <li ng-repeat="legend in vm.issuesGroupedByPriority">
                            <div class="db-chart-legend spn-new" style="background-color: {{legend.color}}"></div><span class="legendtext">{{legend.itemName}}</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="dbItemContainer">
        @Html.Partial("Partials/_Widget-Projects")
        @Html.Partial("Partials/_Widget-RecentIssues")
        @Html.Partial("Partials/_Widget-IssuesAssignedToMe")

    </div>
    <div class="dbItemContainer">
        <div class="dashboardItem">
            <h4>Team Activity</h4>
            <ul class="db-recent-activity">
                <li ng-repeat="activity in vm.activities |  orderBy:'CreatedTime':true" | limitTo:8">
                    <a href="#" class="activity-author">{{activity.actor.name}}</a> {{activity.description}}

                    <a href="{{activity.objectUrl}}" class="activity-name">{{activity.objectTitle}}</a>
                    <i>{{activity.newState}}</i>
                    <p class="activity-date">{{activity.createdTime | date:'medium'}}</p>
                </li>
            </ul>
        </div>
        <div class="dashboardItem">
            <h4>TeamBins news</h4>
            <p>No news now !</p>
        </div>
    </div>
</div>
@Html.HiddenFor(s => s.TeamId)

@section Scripts
{
    @*<script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
        <script src="~/signalr/hubs"></script>*@
    @*<script src="~/Scripts/Chart.min.js"></script>*@

    <script src="~/js/dashboardcontroller.js"></script>
    <script src="~/js/dashboardservice.js"></script>
    @*<script src="~/signalr/hubs"></script>*@
    <script src="~/js/chart.min.js"></script>
    <script type="text/javascript">



        var a = angular.module("teamBins")
            .service('summaryService', TeamBins.DashboardService)
            .controller("dashboardCtrl", TeamBins.DashboardController);
        // TeamBins.DashboardController.inject = ['$http', 'issueDetailService'];

        angular.module("teamBins").value("pageContext", @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));


        //$.connection.hub.start()
        //    .done(function() {
        //        chat.server.subscribeToTeam($("#TeamID").val());
        //    });

    </script>
}
