@model TechiesWeb.TeamBins.ViewModels.BugVM
@{
    ViewBag.Title = "Details";
}
<link href="~/Scripts/kendo/styles/kendo.common.min.css" rel="stylesheet" />
<link href="~/Scripts/kendo/styles/kendo.default.min.css" rel="stylesheet" />
<script src="~/Scripts/kendo/js/kendo.web.min.js"></script>
<script src="~/Scripts/issue.js"></script>
<div class="divToobar">
       @Html.ActionLink("Edit", "Edit",  new { id=Model.ID}, new { @class="toolLink popup"})    
</div>
<div class="divPageContent">
    <div class="divLeft">
        <h2>@Model.Title</h2>
        <div id="issueMeta">
        <div class="authorInfo">
            Opened by @Html.ActionLink(@Model.OpenedBy,"details","user",new{ @id=@Model.OpenedBy},null) on @Model.CreatedDate  
        </div>  
        <div id="issueStatus">Iteration <span class="@Model.StatusCode">@Model.Status</span></div>               
        <div id="issueStatus">Status <span class="@Model.StatusCode">@Model.Status</span></div>               
            </div>
        <div class="divDetail">
            <div class="divDescr">
                @Html.Raw(Model.Description)

                @foreach (var img in Model.Images)
                {

                    <div>
                        <a href="@Url.Action("Image",new { @name=img.FileKey})" target="_blank">
                        <img class="detailImg" src="@Url.Content("~/uploads/"+img.FileKey)" />
                            </a>
                    </div>
                }


                </div>
            <div id="attachmentHolder">
                <h5>Other Attachements</h5>
                <ul>
                                @foreach (var img in Model.Attachments)
                {

                    <li>
                        <a href="~/uploads/@img.FileKey" target="_blank">@img.FileName</a>
                    </li>
                }
                    </ul>

            </div>
        </div>   
      

                <div id="comments">
             @Html.Partial("Partial/Comments",Model)

        </div>         
    </div>
    <div class="divRight">
        <div id="members"  class="changableWidget">
        @Html.Partial("Partial/Members",Model)
        </div>
        <div id="dueDate" class="changableWidget">
            <h4>Due Date</h4>
            <span id="dueDate">@Model.IssueDueDate</span><a href="#" id="aChangeDueDate"  class="hiddenChangeLink" >Change</a>
            <div id="dueDatePicker"  style="display:none;" >
            <input type="text" name="IssueDueDate" value="@Model.IssueDueDate" id="IssueDueDate"/>
                </div>
        </div>

    </div>
</div>
<div id="kendoWindow"></div>
@Html.HiddenFor(x=>x.ID)
 <script type="text/ecmascript">
     $(document).ready(function () {

         InitializeMemberCombo();




     });

     function InitializeMemberCombo() {
         $.getJSON("@Url.Action("NonTeamMembers","Team")?issueId=" + $("#ID").val(), function (res) {
             if (res.Status == "Success") {
                 $("#assignMember").kendoComboBox({
                     filter: "startswith",
                     dataTextField: "Name",
                     dataValueField: "MemberID",
                     dataSource: res.Data,
                     template: '<div class="comboMember" data-memberid="${data.MemberID}"><img src="${data.AvatarHash}" /><h3>${data.Name}</h3><p>${data.MemberType}</p></div>',
                     select: function (e) {
                         
                         var memberId = e.item.find("div.comboMember").data("memberid");
                         $.post("@Url.Action("AddMember","Issues")", { memberId: memberId, issueId: $("#ID").val() }, function (res) {
                             $("#assignMember").data("kendoComboBox").text("");
                             $("#members").load("@Url.Action("IssueMembers","Issues")/" + $("#ID").val(), function () {
                                 InitializeMemberCombo();
                             });
                         });
                     }
                 });
             }
          });
         var combobox = $("#assignMember").width(300).data("kendoComboBox");
     }

 </script>