@model TechiesWeb.TeamBins.ViewModels.IssueDetailVM
@{   
    ViewBag.Title = "Issue #"+Model.ID;
}
<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="http://code.jquery.com/ui/1.10.3/themes/flick/jquery-ui.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular-sanitize.min.js"></script>
<script src="~/Scripts/controller.js"></script>
<script src="~/Scripts/issue.js"></script>
<script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
<script src="~/signalr/hubs"></script>

@if(Model.IsEditableForCurrentUser)
{
    <div class="divToobar">        
        @Html.ActionLink("Edit", "Edit", "Issues", new { id = Model.ID }, new { @class = "toolLink popup" })  
        @Html.ActionLink("Delete", "Delete", "Issues", new { id = Model.ID }, new { @class = "toolLink popup" })          
    </div>
}
<div class="divPageContent" ng-app="issueDetialApp" ng-controller="IssueDetailsCtrl">
    <div class="divLeft">
        <h2>@Model.Title</h2>
        <div id="issueMeta">
            <div class="authorInfo">Opened by @Model.OpenedBy on @Model.CreatedDate
            @if (!String.IsNullOrEmpty(Model.LastModifiedBy))
            {
                <span>, Last Modified by @Model.LastModifiedBy on @Model.LastModifiedDate</span>
            }
            </div>       
            <div id="issueStatus">StatusName <span class="@Model.StatusNameCode">@Model.StatusName</span></div>  
            <div id="issueStatus">Project <span class="">@Model.Project</span></div>                  
        </div>
        <div class="divDetail">
            <div class="divDescr">@Html.Raw(Model.Description.Replace("\n", "</br>"))
           
            @foreach (var img in Model.Images)
            {
                <div>                   
                    <a href="~/uploads/@(img.FileKey)" target="_blank"><img class="detailImg" src="~/uploads/@(img.FileKey)" /></a>
                </div>
            }
            </div>
            @if(Model.Attachments.Count()>0)
            {
            <div id="attachmentHolder">
                <h5>Other Attachements</h5>
                <ul>
                @foreach (var img in Model.Attachments)
                {
                    <li><a href="~/uploads/@img.FileKey" target="_blank">@img.FileName</a></li>
                }
                </ul>
             </div>
            }
        </div> 
        <div id="comments" >
            @Html.Partial("Partial/Comments",Model)
        </div>         
    </div>
    <div class="divRight">
        <div id="issue-details" class="right-detail-items ">
            <div class="issue-detail-item important">Issue # @Model.ID.ToString()
            @if (Model.IsEditableForCurrentUser)
            {
                <div class="starHolder">
                    <span id="issue-star" class="glyphicon @(Model.IsStarredForUser?"glyphicon-star ":"glyphicon-star-empty")" data-starred="@(Model.IsStarredForUser?"starred":"unstarred")"></span>
                </div>
            }
            </div>
            <div class="issue-detail-item">Type : @Model.CategoryName</div>
            <div class="issue-detail-item">PriorityName: @Model.PriorityName</div>
        </div>
        <div class="right-detail-items ">
            In <span>@Model.Iteration</span>
        </div>
        <div id="members"  class="changableWidget right-detail-items">
            @Html.Partial("Partial/Members",Model)
        </div>
        @if (Model.IsEditableForCurrentUser)
        {
            <div id="dueDate" class="changableWidget">
                <h4>Due Date</h4>
                <span id="dueDate">@Model.IssueDueDate</span>
                <a href="#" id="aChangeDueDate"  class="hiddenChangeLink" >Change</a>
                <div id="dueDatePicker" style="display:none;">
                    <input type="text" name="IssueDueDate" value="@Model.IssueDueDate" id="IssueDueDate" />
                </div>           
            </div>
        }
    </div>
</div>
<input type="hidden" id="ID" name="ID" value="@Model.ID" />

@Html.HiddenFor(x=>x.TeamID)
<script type="text/javascript">
    var issueCommentsUrl = "@Url.Action("comments","Issues")";
    var issueDeleteUrl = "@Url.Action("delete","issues")";
    var issuesUrl = "@Url.Action("index","issues")";
</script>
