@model TechiesWeb.TeamBins.ViewModels.BugVM
@{
    ViewBag.Title = "Details";
}

<script src="~/Scripts/issue.js"></script>
<div class="divToobar">
       @Html.ActionLink("Edit", "Edit", new { id = Model.ID }, new { @class = "toolLink aPopup" })    
</div>
<div class="divPageContent">
    <div class="divLeft">
        <h2>@Model.Title</h2>
        <div id="issueMeta">
        <div class="authorInfo">
            Opened by @Html.ActionLink(@Model.OpenedBy,"details","user",new{ @id=@Model.OpenedBy},null) on @Model.CreatedDate  
        </div>  
                 
        <div id="issueStatus">Status <span class="@Model.StatusCode">@Model.Status</span></div>  
            <div id="issueStatus">Project <span class="">@Model.Project</span></div>                  
            </div>
        <div class="divDetail">
            <div class="divDescr">
                @Html.Raw(Model.Description)

                @foreach (var img in Model.Images)
                {

                    <div>
                        <a href="@Url.Action("Image",new { @name=img.FileKey})" target="_blank">
                        <img class="detailImg" src="@Url.Content("~/uploads/"+img.FileKey)" />
                            </a>
                    </div>
                }


                </div>
            <div id="attachmentHolder">
                <h5>Other Attachements</h5>
                <ul>
                                @foreach (var img in Model.Attachments)
                {

                    <li>
                        <a href="~/uploads/@img.FileKey" target="_blank">@img.FileName</a>
                    </li>
                }
                    </ul>

            </div>
        </div>   
      

                <div id="comments">
             @Html.Partial("Partial/Comments",Model)

        </div>         
    </div>
    <div class="divRight">
        <div id="members"  class="changableWidget">
        @Html.Partial("Partial/Members",Model)
        </div>
        <div id="dueDate" class="changableWidget">
            <h4>Due Date</h4>
            <span id="dueDate">@Model.IssueDueDate</span><a href="#" id="aChangeDueDate"  class="hiddenChangeLink" >Change</a>
            <div id="dueDatePicker"  style="display:none;" >
            <input type="text" name="IssueDueDate" value="@Model.IssueDueDate" id="IssueDueDate"/>
                </div>
        </div>

    </div>
</div>
<div id="modal" class="modal fade"></div>
@Html.HiddenFor(x=>x.ID)
<script type="text/javascript">
    $(function () {
        //Show popup on clicking the link
        $(document).on("click", "a.aPopup", function (e) {
            e.preventDefault();
            var _this = $(this);
            $('#modal').modal({ remote: _this.attr("href") });
        });

    })
</script>