@model TeamBins.Common.ViewModels.CreateIssue
@{
    ViewBag.Title = "Add";
}
<div class="centralHead">Edit Bug</div>
<div class="divPageContent">
<div class="divForm leftSideForm">
    @using (Html.BeginForm("Add", "Issues", FormMethod.Post, new { enctype="multipart/form-data" }))
    {
    <table class="tblform sleek">       
        <tr>
            <td>
                @Html.TextBoxFor(x => x.Title, new {@placeholder="Issue Title",@class="sleekInput" })
            </td>
        </tr>
          <tr>
            <td>
                <table class="tblSub">
                    <tr>
                        <th>Project</th>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedProject, Model.Projects, "select", new { @class="kendoDropDown" })
                        </td>
                        <th>CategoryName</th>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedCategory, Model.Categories, "select", new { @class="kendoDropDown" })
                        </td>
                    </tr>
                    <tr>
                        <th>PriorityName</th>
                        <td>
                            @Html.DropDownListFor(x => x.SelectedPriority, Model.Priorities, "select", new { @class="kendoDropDown" })
                        </td>
                        <th>StatusName</th>
                        <td>
                            <span class="spanDefault">
                                New
                            </span>                            
                        </td>
                    </tr>
                </table>

            </td>

        </tr>
        <tr>
            <th>Description</th>
            </tr>
        <tr>
            <td>
                @Html.TextAreaFor(x => x.Description, new { @class="DescrTxtArea" })
            </td>
        </tr>
        <tr>

            <td>
                 <div class="divAttach">
                   <h5>Attachments</h5>
                     <div>
                         
                @foreach (var img in Model.Images)
                {

                    <div>
                        <a href="@Url.Action("Image",new { @id=img.FileKey})" target="_blank">
                         @img.FileName
                            </a>
                    </div>
                }

                     </div>
                   Add a file
                     <input type="file" name="files" id="files" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save" />
               
            </td>

        </tr>
    </table>
        @Html.HiddenFor(x=>x.ID)
    }


</div>

    </div>

<script type="text/javascript">

    $(function() {
        $("#Description").kendoEditor({
            encoded: false
        });
        $(".kendoDropDown").kendoDropDownList();
    });

</script>