@model TechiesWeb.TeamBins.ViewModels.IssueListVM
@{
    ViewBag.Title = "Issues";
}
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<link href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
<script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
<script src="~/signalr/hubs"></script>
<script src="~/Scripts/issue.js"></script>
@if(Model.ProjectsExist)
{
<div id="leftContentPane">
<h2>Recent Issues</h2>
<div class="btnBar">
    <div id="quick_create">
        <input type="text" name="NewItemTitle" placeholder="Create Item" id="NewItemTitle" />
        <div id="default_items">
            <div class="default_item">
                <img class="default_item_img" src="~/Content/images/feature-icon.png" />
            </div>
        </div>

    </div>
    <div>
        <ul class="navtab">
            <li>             
                 <a href="@Url.Action("Index","Issues")" class="aIteration @(Model.CurrentTab=="Current"?"aIterationActive":"")">Current</a>
            </li>
            <li>               
                <a href="@Url.Action("Backlog","Issues")" class="aIteration @(Model.CurrentTab=="Backlog"?"aIterationActive":"")">Backlog</a>
            </li>
            <li>               
                <a href="@Url.Action("Completed","Issues")" class="aIteration @(Model.CurrentTab=="Completed"?"aIterationActive":"")">Completed</a>
            </li>
        </ul>
    </div>
    <div id="createEditMode">
        <div id="changeLabel">
     Create and Edit
            </div>
        <div class="onoffswitch">
    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" @(Model.IsCreateAndEditEnabled?"checked":"") >
          
    <label class="onoffswitch-label" for="myonoffswitch">
        <div class="onoffswitch-inner"></div>
        <div class="onoffswitch-switch"></div>
    </label>
</div>
    </div>
</div>
<table class="tblGrid" id="issueTbl">
    <tr>
        <th>#</th>
        <th></th>
        <th>Title</th>
        <th>Opened By</th>       
        <th>Priority</th>
        <th>Status</th>
        <th>Opened Date</th>
    </tr>
@{        
    bool isOdd = false;
}
@foreach (var issue in Model.Bugs)
{
    <tr class="@(isOdd==true?@Html.Raw("trOdd"):@Html.Raw("trEven"))">
        <td>@issue.ID</td>
        <td><div class="issue-icon-@issue.Category" title="@issue.Category" ></div></td>
        <td>@Html.ActionLink(issue.Title, "details", new { @id = issue.ID },null)</td>
        <td>@issue.OpenedBy</td>       
        <td>@issue.Priority</td>
        <td>@issue.Status</td>
        <td> @issue.CreatedDate </td>
    </tr>
    isOdd = !isOdd;
}
</table>
</div>
<div id="rightPanel">
    <div id="activityStream">
        <div>
            Howdy ! Nothing happened yet.
        </div>
    </div>
</div>
}
else
{
    <div class="noProjects">
        <p>No projects ! Please create one to get started</p>
        @Html.ActionLink("Create Projects","Index","Projects")
    </div>
}
          
<script type="text/javascript">
    var addIssueUrl = "@Url.Action("Add","ISsues")";
    var editIssueUrl = "@Url.Action("edit","issues")";
    var savePrefUrl = "@Url.Action("SavePreference", "Issues")";
   
    $(function () {
        var activityList = $("#activityList");
        var chat = $.connection.issuesHub;       
        chat.client.addNewTeamActivity = function (activity) {           
            activityList.prepend(BuildNewActivityMarkup(activity));
        };                
        $.connection.hub.start().done(function () {           
            chat.server.subscribeToTeam(@Model.TeamID)
        })    
    });
    function BuildNewActivityMarkup(activity) {
       return "<div class='activity-item'><a class='activity-author' href='#'> " + activity.Author + " </a> " + activity.Activity + " <a href='" + activity.ObjectURL + "' class='activity-name'> " + activity.ObjectTite + " </a><p class='activity-date' title='" + activity.CreatedDateRelative + "'> " + activity.CreatedDateRelative + "</p></div>";
    }

</script>