@model List<TechiesWeb.TeamBins.ViewModels.ActivityVM>
<h4>Activity</h4>
<div id="activityList">
@foreach (var act in Model)
{
    <div class="activity-item">
        <a href="#" class="activity-author">@act.Author</a> @act.Activity <a href="@act.ObjectURL" class="activity-name">@act.ObjectTite</a>
        <p class="activity-date" title="@act.CreatedDateRelative">@act.CreatedDateRelative</p>
    </div>
}
</div>