@using System.Threading.Tasks
@using TeamBins.Common.ViewModels
@model TeamBins.Common.ViewModels.AccountSignupVM
@{
    ViewBag.Title = "Join";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}

<div class="signUpContainer">
    <h1>Create an Account</h1>
    <div class="divSignUp">

        <form asp-action="Join" asp-controller="Account">
            <table class="tblEntry register">
                <tr>
                    <td>
                        @Html.ValidationSummary()
                    </td>
                </tr>
                <tr>
                    <th>Your Name</th>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(x => x.Name, new { maxlength = 25 })
                    </td>
                </tr>
                <tr>
                    <th>Your Email</th>
                </tr>
                <tr>
                    <td>
                        @Html.TextBoxFor(x => x.Email, new { maxlength = 50 })
                    </td>
                </tr>
                <tr>
                    <th>Password</th>
                </tr>
                <tr>
                    <td>
                        @Html.PasswordFor(x => x.Password, new { maxlength = 20 })
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" id="btnJoin" value="Register" />
                    </td>
                </tr>
            </table>
            @Html.HiddenFor(s => s.ReturnUrl)
        </form>


        <div class="registerLinks">
            @Html.ActionLink("Forgot Password ?", "forgotPassword", "account") |
            @Html.ActionLink("Login to Account", "login", "account")
        </div>
    </div>
</div>
@section Scripts
{
    <script type="text/javascript">
        $(function () {
            $("#btnJoin").click(function (e) {
                $(this).attr("value", "Registering..").addClass("btn-disabled");
            });
        });
    </script>
}
