@model SmartPlan.ViewModels.DashBoardVM
@{
    ViewBag.Title = "Index";
}
<div class="dashboardItem">
<h3>Projects</h3>

    <ul>
    @foreach (var project in Model.Projects)
    {
       <li id="li_@project.ID" class="listItem">
                <div class="liContent">
                   @Html.ActionLink(project.Name, "Index", "Project", new { id = project.ID }, null)    
                </div>
                @if(project.IsProjectOwner)
                {
                <div class="liEdit">
                    @Html.ActionLink("Edit", "Edit", "Projects", new { id = @project.ID }, new { @class = "popup" }) |
                    @Html.ActionLink("Delete", "DeleteConfirm", "Projects", new { id = project.ID }, new { @class = "popup delete", @data_id = project.ID })
                </div>
                }
               
       </li>
    }
    </ul>  
      

</div>

<div class="dashboardItem">
    <h3>Recent Issues</h3>
        <ul>
            @foreach (var issue in Model.RecentIssues)
            {
                <li id="li_@issue.ID" class="listItem">
                    <div class="liContent">
                        @Html.ActionLink(issue.Title, "details", "Issues", new { id = issue.ID }, null)
                    </div>
                </li>
            }
        </ul>

    
</div>
