@model TechiesWeb.TeamBins.ViewModels.EditProfileVM
@{
    ViewBag.Title = "Edit Profile";
}
@using TechiesWeb.TeamBins.HelperMethods
<div class="page">
    <h2>Edit Profile</h2>
   
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#">Profile</a></li>
            <li><a href="@Url.Action("password","account")">Password</a></li>
            <li><a href="@Url.Action("settings", "account")">Default Issue Settings</a></li>
            <li><a href="@Url.Action("notificationSettings", "account")">Notification Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" >
                @Html.ValidationSummary()
                @using(Html.BeginForm())
                {
                <table>
                    <tr>
                        <th>Name</th>
                        <td>@Html.TextBoxFor(s=>s.Name)</td>
                    </tr>
                    <tr>
                        <th>Email Address</th>
                        <td>@Html.TextBoxFor(s => s.Email, new { @readonly = "readonly" })</td>
                    </tr>

                    <tr>
                        <th></th>
                        <td>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </td>
                    </tr>
                </table>
                }
            </div>
            <br/>
            <p><i>Your gravatar will be used as the profile picture. Click <a href="http://en.gravatar.com">here</a> to add or edit your gravatar</i></p>               
            </div>
    </div>

</div>