@model TechiesWeb.TeamBins.ViewModels.ChangePasswordVM
@{
    ViewBag.Title = "EditProfile";
}
@using TechiesWeb.TeamBins.HelperMethods
<div class="page">
    <h2>EditProfile</h2>
    @Html.AlertMessages()
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li><a href="@Url.Action("EditProfile","Account")">Profile</a></li>
            <li class="active"><a href="#">Password</a></li>
            <li><a href="#">Validation Schema</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Orders</a></li>
            <li><a href="#">Billing Information</a></li>
            <li><a href="#">Data Usage</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                @Html.ValidationSummary()
                @using (Html.BeginForm())
                {
                    <table>
                        <tr>
                            <th>Current Password</th>
                            <td>@Html.TextBoxFor(s => s.CurrentPassword)</td>
                        </tr>
                        <tr>
                            <th>Password</th>
                            <td>@Html.TextBoxFor(s => s.Password)</td>
                        </tr>
                        <tr>
                            <th>Confirm Password</th>
                            <td>@Html.TextBoxFor(s => s.ConfirmPassword)</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>


        </div>
    </div>

</div>
