@{
    ViewBag.Title = "Settings";
}
@using TechiesWeb.TeamBins.HelperMethods
@model TechiesWeb.TeamBins.ViewModels.DefaultIssueSettings
<div class="page">
    <h2>EditProfile</h2>
    @Html.AlertMessages()
    <div class="tabbable tabs-left">
        <ul class="nav nav-tabs">
            <li><a href="@Url.Action("EditProfile","Account")">Profile</a></li>
            <li><a href="@Url.Action("Password","Account")">Password</a></li>
            <li class="active"><a href="#">Default Issue Settings</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active">
                @Html.ValidationSummary()
                @using (Html.BeginForm())
                {
                    <table>
                        <tr>
                            <th>Default Project</th>
                            <td>@Html.DropDownListFor(s=>s.SelectedProject,Model.Projects,"select")</td>
                        </tr>
                        <tr>
                            <th></th>
                            <td>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </td>
                        </tr>
                    </table>
                }
            </div>


        </div>
    </div>

</div>
