@model TeamBins.Common.ViewModels.IssueListVM
@{
    ViewBag.Title = "Issues";
}
@*<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <link href="http://code.jquery.com/ui/1.10.3/themes/ui-lightness/jquery-ui.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.2.min.js"></script>
    <script src="~/signalr/hubs"></script>*@



@if (Model.ProjectsExist)
{
    <div ng-app="teamBins" ng-cloak ng-controller="IssueListCtrl as vm">
        <div id="leftContentPane">
            <h2>Recent Issues</h2>
            <div class="btnBar">
                <div id="quick_create">
                    <input type="text" ng-keyup="vm.create($event)" ng-model="vm.newIssue" name="NewItemTitle" placeholder="Create Item" id="NewItemTitle" />
                    <div id="default_items">
                        <div class="default_item">
                            <img class="default_item_img" src="~/Content/images/feature-icon.png" />
                        </div>
                    </div>
                </div>
               
                <div class="iterations">
                    <ul class="navtab">
                        <li ng-repeat="group in vm.issuesGrouped">
                            <a href="#current" id="tab-current" ng-click="vm.updateview(group, $event)" class="aIteration" ng-class="{'tab-selected':group.GroupName==vm.currentlyShowingGroup.GroupName}">{{group.GroupName}}</a>
                        </li>
                    </ul>
                    <div class="spinner" ng-show="loading"></div>
                </div>
            </div>

            <table class="tblGrid" id="issueTbl" ng-show="vm.issuesGrouped.length>0">
                <tr>
                    <th>#</th>
                    <th></th>
                    <th>Title</th>
                    <th>Opened By</th>
                    <th>PriorityName</th>
                    <th>StatusName</th>
                    <th>Opened Date</th>
                </tr>
                <tr ng-repeat="issue in vm.currentlyShowingGroup.Issues|orderBy:'Id':true" ng-class-odd="'trOdd'" ng-class-even="'trEven'">
                    <td>{{issue.Id}}</td>
                    <td>
                        <div class="issue-icon-{{issue.Category.Name}}" title="{{issue.Category.Name}}"></div>
                    </td>
                    <td><a href="~/issue/{{issue.Id}}">{{issue.Title}}</a></td>
                    <td>{{issue.OpenedBy}}</td>
                    <td>{{issue.Priority.Name}}</td>
                    <td>{{issue.Status.Name}}</td>
                    <td>{{issue.CreatedDate | date:'medium'}} </td>
                </tr>
            </table>
            <div class="no-issue-msg" ng-show="!vm.loading && vm.issuesGrouped.length===0">
                <p>No issues so far ! Start one quickly by entering it to the above textbox and hit enter!</p>
            </div>
        </div>
        <div id="rightPanel">
            <div id="activityStream">
                <h4>Activity</h4>
                <div id="activityList">
                    <div class="activity-item" ng-repeat="activity in vm.activities | orderBy:'CreatedTime':true">
                        <a href="#" class="activity-author">{{activity.Actor.Name}}</a> {{activity.Description}}
                        <a href="{{activity.ObjectURL}}" class="activity-name">{{activity.ObjectTitle}}</a>
                        <i>{{activity.NewState}}</i>
                        <p class="activity-date">{{activity.CreatedTime | date:'medium'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="noProjects">
        <p>No projects ! Please create one to get started</p>
        @Html.ActionLink("Create Projects", "Index", "Projects")
    </div>
}
<input type="hidden" id="TeamID" value="@Model.TeamID" />

@section Scripts
{
<script src="~/js/issueList.service.js"></script>

    <script src="~/js/IssueListController.js"></script>

    <script>

    </script>



}

<script type="text/javascript">
    var addIssueUrl = "@Url.Action("Add","ISsues")";
    var editIssueUrl = "@Url.Action("edit","issues")";
    var savePrefUrl = "@Url.Action("SavePreference", "Issues")";




</script>