@model TeamBins.Common.ViewModels.CreateIssue
<form asp-action="Add" asp-controller="Issues" method="post" id="createForm" enctype="multipart/form-data">

    <div class="modal-dialog">
        <div class="modal-content" style="width:650px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Model.Title</h4>
            </div>
            <div class="modal-body">
                <table class="tblform sleek">
                    <tr>
                        <td>
                            <input type="text" asp-for="Title" />
                            <span asp-validation-for="Title"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="tblSub">
                                <tr>
                                    <th>Project</th>
                                    <td>
                                        <select asp-for="ProjectId" asp-items="@Model.Projects" class="kendoDropDown"> 
                                        </select>
                                    </td>
                                    <th>Category</th>
                                    <td>
                                        <select asp-for="CategoryId" asp-items="@Model.Categories" class="kendoDropDown"></select>
                                    </td>
                                </tr>
                                <tr>
                                    <th>Priority</th>
                                    <td>
                                        <select asp-for="PriorityId" asp-items="@Model.Priorities" class="kendoDropDown"></select>
                                    </td>
                                    <th>Status</th>
                                    <td>
                                        <select asp-for="StatusId" asp-items="@Model.Statuses" class="kendoDropDown"></select>
                                    </td>
                                </tr>
                            </table>

                        </td>

                    </tr>
                    <tr>
                        <td>
                            <textarea asp-for="Description" class="DescrTxtArea"></textarea>
                        </td>
                    </tr>
                    <tr>

                        <td>
                            <div class="divAttach">
                                <h5>Attachments</h5>
                                <div>
                                    @foreach (var img in Model.Images)
                                    {

                                        <div>
                                            <a href="@img.Url" target="_blank">
                                                @img.FileName
                                            </a>
                                        </div>
                                    }

                                </div>
                                Add a file
                                <input type="file" name="Files" id="Files" />
                            </div>
                        </td>
                    </tr>
                </table>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="IsFromModalWindow" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" id="btnSaveIssue" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>