@model TeamBins.Common.ViewModels.InsightDashboardVm
<div>
    <h4>@Model.Teams.Count() Teams</h4>
    
  

    <table class="table table-condensed table-striped" >
        <tr>
            <th>Name</th>
            <th>Members </th>
        </tr>


        @foreach (var team in Model.Teams)
        {
            <tr>
                <td>@team.Name</td>
                <td>@team.MemberCount</td>
            </tr>
        }
    </table>
</div>

<div>
    <h4>@Model.Users.Count() Users</h4>
    <table class="table table-condensed table-striped">
        <tr>
            <th>Name</th>
            <th>Email </th>
            <th>Created</th>
            <th>Last login</th>
        </tr>


        @foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.EmailAddress</td>
                <td>@user.CreatedDate</td>
                <td>@user.LastLoginDate</td>
            </tr>
        }
    </table>
</div>
<div>
    <h4>@Model.Issues.Count() Issues</h4>
    <table class="table table-condensed table-striped">
        <tr>
            <th>Title</th>
            <th>Created</th>
        </tr>


        @foreach (var user in Model.Issues)
        {
            <tr>
                <td>@user.Title</td>
              
                <td>@user.CreatedDate</td>
            </tr>
        }
    </table>
</div>