@model List<TechiesWeb.TeamBins.ViewModels.TeamActivityVM>
@{
    ViewBag.Title = "ActivityStream";
}

<h2>ActivityStream</h2>
@foreach (var act in Model)
{
    <div>
        <a href="#" class="activity-author">@act.UserName</a> @act.Activity <a href="#" class="activity-name">@act.ItemName</a>
        <p title="@act.EventDate">@act.EventDateRelative</p>
    </div>

}
