@using Newtonsoft.Json
@using TeamBins.Infrastrucutre.Extensions
@using System;
@model TeamBins.Common.ViewModels.IssueDetailVM
@{
    ViewBag.Title = "Issue #" + Model.Id;

}


@if (Model.IsEditableForCurrentUser)
{
    <div class="divToobar">
        @Html.ActionLink("Edit", "Edit", "Issues", new { id = Model.Id }, new { @class = "toolLink popup" })
        @Html.ActionLink("Delete", "Delete", "Issues", new { id = Model.Id }, new { @class = "toolLink popup" })
    </div>
}
<div class="divPageContent" ng-app="teamBins" ng-cloak ng-controller="issueDetailsCtrl as vm">
    <div class="divLeft">
        <h2>@Model.Title</h2>
        <div id="issueMeta">
            <div class="authorInfo">
                Opened by @Model.OpenedBy on @Model.CreatedDate
                @if (!String.IsNullOrEmpty(Model.LastModifiedBy))
                {
                    <span>, Last Modified by @Model.LastModifiedBy on @Model.LastModifiedDate</span>
                }
            </div>
            <div id="issueStatus">Status<span class="@Model.Status.Code">@Model.Status.Name</span></div>
            <div id="issueStatus">Project <span class="">@Model.Project.Name</span></div>
        </div>
        <div class="divDetail">
            <div class="divDescr">
                @Html.Raw(Model.Description.Replace("\n", "</br>"))

                @foreach (var img in Model.Images)
                {
                    <div>
                        <a href="@img.Url" target="_blank"><img class="detailImg" src="@img.Url" /></a>
                    </div>
                }
            </div>
            @if (Model.Attachments.Any())
            {
                <div id="attachmentHolder">
                    <h5>Other Attachements</h5>
                    <ul>
                        @foreach (var img in Model.Attachments)
                        {
                            <li><a href="@img.Url" target="_blank">@img.FileName</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
        <div id="comments">
            @Html.Partial("Partial/Comments", Model)
        </div>
    </div>
    <div class="divRight">
        <div id="issue-details" class="right-detail-items ">
            <div class="issue-detail-item important">
                Issue # @Model.Id.ToString()

                @if (!Model.IsReadOnly)
                {
                    <div class="starHolder">
                        <span id="issue-star" class="glyphicon @(Model.IsStarredForUser ? "glyphicon-star " : "glyphicon-star-empty")"
                              data-starred="@Model.IsStarredForUser"></span>
                    </div>
                }

            </div>
            <div class="issue-detail-item">
                <span class="type-icon issue-icon-@Model.Category.Code"></span>
                <span class="type-name">@Model.Category.Name</span>
            </div>

            <div class="issue-detail-item">Priority: @Model.Priority.Name</div>
        </div>

        <div id="members" class="changableWidget right-detail-items">
            @Html.Partial("Partial/Members", Model)
        </div>
        <div class="changableWidget  right-detail-items">
            <h4>Due Date</h4>
            <span id="dueDate" title="@(Model.DueDate.IsPastDue()?"This issue is past due!":"")"  class="due-date @(Model.DueDate.IsPastDue()?"due-date-past":"")"> @(Model.DueDate != null ? Model.DueDate.Value.ToShortDateString()  : "Not set")</span>
            @if (Model.IsEditableForCurrentUser)
            {
                <a href="#" id="aChangeDueDate" class="hiddenChangeLink">Change</a>
                <div id="dueDatePicker" style="display: none;">
                    <input type="text" name="IssueDueDate" value="@(Model.DueDate != null ? Model.DueDate.Value.ToShortDateString() : "")" class="datefield" id="IssueDueDate"/>
                </div>
            }
        </div>

    </div>
</div>
@Html.HiddenFor(d => d.Id)


@Html.HiddenFor(x => x.TeamID)

@section Scripts
{
    <script src="~/js/issuedetail.service.js"></script>
    <script src="~/js/issuedetailcontroller.js"></script>
    <script src="~/js/issue.js"></script>

    @*<script src="~/js/issue.js"></script>*@

    <script>
        angular.module("teamBins").value("issue",  @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model)));
    </script>
}

<script type="text/javascript">
    var issueCommentsUrl = "@Url.Action("comments","Issues")";
    var issueDeleteUrl = "@Url.Action("delete","issues")";
    var issuesUrl = "@Url.Action("index","issues")";



</script>
