@model TechiesWeb.TeamBins.ViewModels.UserMenuHeaderVM
<div class="header">
    <div class="headerLeft">
        <a class="header-logo" href="@Url.Action("Index","dashboard")">
            <span class="logo"></span>
        </a>
    </div>
    <div class="switch-teams">
        <a href="#" class="a-current-team" data-state="selected" title="switch between teams">
            <div class="current-team">
                <span class="current-team-icon glyphicon glyphicon-th-list"></span>
                <span class="current-team-name">@Model.CurrentTeamName</span>
            </div>
        </a>
        <div class="available-teams" id="available-teams" style="display:none;">
            <p>Switch team</p>
            @foreach (var team in Model.Teams)
            {
                <a href="~/t/@team.ID/@team.Name"><div class="available-team">@team.Name</div></a>
            }
        </div>
    </div>
    <div class="navigation">
        <a href="@Url.Action( "index", "dashboard")">Home</a>
        <a href="@Url.Action( "index", "issues")">Issues</a>
        <a href="@Url.Action("index","projects")">Projects</a>
        <a href="@Url.Action("index","users")">Members</a>
        <a href="@Url.Action("index","team")">Teams</a>
    </div>
    <div class="userInfo">
    @if (Session["TB_NickName"] != null)
    {
        <span>Howdy, <a href="@Url.Action("editprofile","account")">@Model.UserDisplayName</a> </span>
        <img src="@Model.UserAvatarHash?s=26" />
        @Html.ActionLink("Logout", "logout", "account", null, new { @class = "aLogout" })
    }
    </div>
</div>